@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentPageModel>
@using NiceWorldUmbraco.Models;
@{
	Layout = "Master.cshtml";
}

<div class="transition transition-2 is-active"></div>
<!-- Findroom Content -->
<div class="main-banner">
	<div class="container pt-3" id="filter-location-container">
		<div class="row">
			<div class="col-lg-12">
				<form id="search-form" name="gs" method="submit" role="search" action="#">
					<div class="row">
						<div class="col-5 align-self-center">
							<fieldset>
								<select name="area" class="form-select" aria-label="Area" id="chooseCategory" onchange="this.form.click()">
									<option selected>Chọn vị trí</option>
									<option value="0">Hà Nội</option>
									<option value="1">Thành phố Hồ Chí Minh</option>
								</select>
							</fieldset>
						</div>
						<div class="col-5 align-self-center">
							<fieldset>
								<select name="price" class="form-select" aria-label="Default select example" id="chooseCategory" onchange="this.form.click()">
									<option selected>Số Khách</option>
									<option value="0">Người lớn</option>
									<option value="1">Trẻ em</option>
									<option value="2">Em bé</option>
								</select>
							</fieldset>
						</div>
						<div class="col-2">
							<fieldset>
								<button class="search-button primary-btn ml-3">Tìm phòng</button>
							</fieldset>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- End Findroom Content -->
<!-- Room Listing -->
<div class="recent-listing mt-3">
	<div class="container">
		<div class="row p-3">
			<div class="col-lg-9">
				<div class="row result-list mb-4 position-static d-flex justify-content-between">
					<div class="col-9 result-number d-flex align-items-center ps-4">
						<h5>26</h5> <p>sự lựa chọn</p>
					</div>
					<div class="col-3 branch-list-sort-selection">
						<form id="search-form" name="gs" method="submit" role="search" action="#">
							<fieldset>
								<select name="area" class="form-select" aria-label="Area" id="chooseCategory" onchange="this.form.click()">
									<option selected>Phổ biến nhất</option>
									<option value="1">Giá thấp đến cao</option>
									<option value="2">Giá cao đến thấp</option>
								</select>
							</fieldset>
						</form>
					</div>
				</div>
				@foreach (var item in Model.Data)
				{
					<div class="listing-item row">
						<div class="left-image col-lg-4 p-0">
							<div class="ecommerce-gallery">
								<div class="row no-gutters">
									<div class="col-12 mb-1">
										<div class="lightbox" data-mdb-lightbox-init>
											<img src="@item.ImgUrl"
												  alt="Gallery image 1"
												  class="ecommerce-gallery-main-img active w-100" />
										</div>
									</div>
									<div class="col-4 sub-image" id="first-img">
										<img src="../assets/1721630390846-2JPG.jpg"
											  alt="Gallery image 1"
											  class="ecommerce-gallery-main-img active img-fluid" />
									</div>
									<div class="col-4 sub-image" id="center-img">
										<img src="../assets/1721630390806-1JPG.jpg"
											  alt="Gallery image 1"
											  class="ecommerce-gallery-main-img active w-100" />
									</div>
									<div class="col-4 sub-image" id="last-img">
										<img src="../assets/1721630390846-2JPG.jpg"
											  alt="Gallery image 1"
											  class="ecommerce-gallery-main-img active w-100" />
									</div>
								</div>
							</div>
						</div>
						<div class="right-content col-lg-5 p-3">
							<h4>@item.HotelName</h4>
							<h6>@item.Address</h6>
							<div class="row">
								<ul class="service">
									<li><img src="https://cdn.mvillage.vn/../assets/building/feature/1687946450239-gym.png" alt="">Phòng Gym</li>
									<li><img src="https://cdn.mvillage.vn/../assets/building/feature/1687946549565-livingroom.png" alt="">Phòng tiện nghi</li>
									<li><img src="https://cdn.mvillage.vn/../assets/building/feature/1689825391346-cityview.png" alt="">View thành phố và sông</li>
									<li><img src="https://cdn.mvillage.vn/../assets/building/feature/1692875692539-Pin.png" alt="">Trung tâm TP.HCM</li>
									<li>+4</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 d-flex flex-column justify-content-end align-items-end price-container p-4">
							<p class="from m-0">CHỈ TỪ</p>
							<p class="price m-0">40.800.000</p>
							<p class="unit m-0">Đồng / Tháng</p>
							<p class="description m-0">Đã bao gồm thuế và phí</p>
							<div class="mt-4">
								<button class="primary-btn search-button choose-room">Chọn phòng</button>
							</div>
						</div>
					</div>
				}

			</div>
			<div class="col-lg-3">
				<div class="row map-img">
					<span class=" lazy-load-image-background blur lazy-load-image-loaded" style="color: transparent; display: inline-block;"><img class="img-fluid" src="../assets/staticmap.png" alt="map-view"></span>
					<button class="btn">Xem bản đồ</button>
				</div>
				<div class="filter-panel-container mt-4 p-3">
					<div class="d-flex justify-content-between align-items-start">
						<div>
							<h5 class="mb-0">Phạm vi giá</h5>
							<span class="grey">1 phòng, 1 đêm</span>
						</div>
						<div class="d-flex align-items-center cursor-pointer reset-container grey">
							<i class="fa fa-arrow-rotate-left"></i><span class="ps-2">Đặt lại</span>
						</div>
					</div>
					<div class="range-price mt-4">
						<div class="row">
							<div class="col-sm-12">
								<div id="slider-range"></div>
							</div>
						</div>
						<div class="row slider-labels">
							<div class="d-flex justify-content-between">
								<div class="col-xs-6 caption">
									<strong class="d-block">Từ:</strong> <span id="slider-range-value1"></span>
								</div>
								<div class="col-xs-6 caption text-end">
									<strong class="d-block">Đến:</strong> <span id="slider-range-value2"></span>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-sm-12">
								<form>
									<input type="hidden" name="min-value" value="">
									<input type="hidden" name="max-value" value="">
								</form>
							</div>
						</div>
					</div>
					<div class="budget-options">
						<h5 class="mt-3 fs-6">Tùy chọn ngân sách</h5>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
							<label class="form-check-label" for="flexRadioDefault1">
								< 15.000.000 VND
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
							<label class="form-check-label" for="flexRadioDefault2">
								15.500.000 - 20.000.000 VND
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
							<label class="form-check-label" for="flexRadioDefault2">
								> 20.000.000 VND
							</label>
						</div>
					</div>
					<div class="branch-slider-down mt-3">
						<div class="title-container d-flex justify-content-between cursor-pointer" data-bs-toggle="collapse" data-bs-target="#collapseBrand" aria-expanded="false">
							<h5 class="fs-6">Thương hiệu</h5>
							<div class="tag-small mt-1">Mới ra mắt</div>
							<span class="text-end"><i class="fa fa-angle-down "></i></span>
						</div>

						<div class="collapse" id="collapseBrand">
							<div class=" row d-flex mt-3 justify-content-between p-2">
								<div class="col-4 sub-brand-img p-1 d-flex justify-content-between">
									<img class="img-fluid" src="../assets/express-black.png" alt="signature" title="signature" class="sub-brand-img">
								</div>
								<div class="col-4 sub-brand-img p-1">
									<img class="img-fluid" src="../assets/living-black.png" alt="signature" title="signature" class="sub-brand-img">
								</div>
								<div class="col-4 sub-brand-img p-1">
									<img class="img-fluid" src="../assets/hotel-black.png" alt="signature" title="signature" class="sub-brand-img">
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- EndRoom Listing -->
<!-- Booking Long Term -->
<section id="booking-long-term" class="section">
	<div class="container">
		<div class="branch-heading">
			<h3>Bạn cần đăng ký ở dài hạn?</h3>
			<button class="btn btn-primary mt-4 round-3"><i class="fa fa-calendar"></i> Đặt lịch hẹn trải nghiệm tại đây</button>
		</div>
	</div>
</section>