@inherits Umbraco.Web.Mvc.UmbracoViewPage

<!-- Footer -->
	<section id="footer" class="section">
		<div class="">
			<div class="info">
				<div class="shareThought">
					<h5 class="semi-bold-white">Trải nghiệm của bạn tại M VILLAGE rất quan trọng với chúng tôi</h5>
					<p class="lead">Chia sẻ suy nghĩ của bạn để chúng tôi có thể tạo ra trải nghiệm tốt hơn cho bạn lần
						sau</p>
					<div class="message-hyperlink">
						<a href="https://www.messenger.com/t/">Chia sẻ suy nghĩ của bạn</a>
					</div>
				</div>
				<div class="hotlineEmail">
					<ul class="hotline-email-wrapper">
						<li>
							<div class="icon bg-1">
								<i class="fa fa-phone"></i>
							</div>
							<div class="col ps-3">
								<h5>Hotline</h5>
								<p>1900 1923</p>
							</div>
						</li>
						<li>
							<div class="icon bg-1">
								<i class="fa fa-envelope"></i>
							</div>
							<div class="col ps-3">
								<h5>Email</h5>
								<p>booking@mvillage.com</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="followUsVia">
					<h5 class="semi-bold-white">Theo dõi chúng tôi qua</h5>
					<div class="social-media">
						<i class="fa-brands fa-instagram"></i>
						<i class="fa-brands fa-facebook"></i>
						<i class="fa-brands fa-tiktok"></i>
					</div>
				</div>
			</div>
		</div>
	</section>