@inherits Umbraco.Web.Mvc.UmbracoViewPage

<section class="section">
	<div class="container">
		<div class="section-heading">
			<h3>Bộ sưu tập những câu chuyện sống tại M Village</h3>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
				<img src="assets/living-story-1-1.png" class="w-100 shadow-1-strong rounded mb-4"
					  alt="Boat on Calm Water" />

				<img src="assets/living-story-2-1.png" class="w-100 shadow-1-strong rounded mb-4"
					  alt="Wintry Mountain Landscape" />
			</div>

			<div class="col-lg-4 mb-4 mb-lg-0">
				<img src="assets/living-story-3-1.png" class="w-100 shadow-1-strong rounded mb-4"
					  alt="Mountains in the Clouds" />

				<img src="assets/living-story-4-1.png" class="w-100 shadow-1-strong rounded mb-4"
					  alt="Boat on Calm Water" />
			</div>

			<div class="col-lg-4 mb-4 mb-lg-0">
				<img src="assets/living-story-5-1.png" class="w-100 shadow-1-strong rounded mb-4"
					  alt="Waves at Sea" />

				<img src="assets/living-story-6-1.png" class="w-100 shadow-1-strong rounded mb-4"
					  alt="Yosemite National Park" />
			</div>
		</div>
	</div>
</section>