@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;

<section id="portfolio" class="section">
	<div class="container">
		<div class="section-heading">
			<h3>Khám phá các Village mới</h3>
		</div>
		<div class="owl-two owl-carousel d-flex flex-row justify-content-between">
			@Html.GetGridHtml(Model, "nhtBodyText", "bootstrap3-rawrow")
		</div>
	</div>
</section>